@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&display=swap");

@import "tailwindcss";

@theme {
  /* typography */
  --font-dmSans: "DM Sans", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-anton: "Anton", sans-serif;

  /* lato font-weights */
  --lato-thin: 100;
  --lato-light: 300;
  --lato-regular: 400;
  --lato-bold: 700;
  --lato-black: 900;

  /* color */
  --brand-color: "#1c2f2a";
  --neutral-light: "#ffffff";
  --neutral-dark: "#000000";
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-dmSans);
}
